<!DOCTYPE html>
<html style="background-color:#eeeae1;">

<head>
    <title>you@mrpedrobraga.com {{gimmick_path}}</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="mrpedrobraga.com — {{title}}">
    <meta property="og:url" content="https://mrpedrobraga.com{{path}}">
    <meta property="og:image" content="https://mrpedrobraga.com/public/images/opengraph-image.png">
    <meta property="og:description" content="Pedro Braga — Software Engineer, Game Developer, total nerd!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="/public/main.css" />
    <link rel="preload" as="image" href="/public/images/main-page-graphic-center-dark.png">
    <link rel="preload" as="image" href="/public/images/main-page-graphic-center-light.png">
    <link rel="preload" as="image" href="/public/images/main-page-graphic-L-dark.png">
    <link rel="preload" as="image" href="/public/images/main-page-graphic-L-light.png">
    <link rel="preload" as="image" href="/public/images/main-page-graphic-R-dark.png">
    <link rel="preload" as="image" href="/public/images/main-page-graphic-R-light.png">
    <link rel="preload" as="image" href="/public/images/logo-dark.png">
    <link rel="preload" as="image" href="/public/images/logo-light.png">
    <link rel="preload" as="image" href="/public/images/window-dark.png">
    <link rel="preload" as="image" href="/public/images/window-light.png">
    <link rel="preload" as="image" href="/public/images/theme-switch-dark.png">
    <link rel="preload" as="image" href="/public/images/theme-switch-light.png">

    <link rel="stylesheet" href="/public/main.css" />
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
</head>

<body class="light-mode">
    <header class="hero">
        <div class="main-logo"></div>
    </header>
    <div class="graphic-l"></div>
    <div class="graphic-r"></div>
    <main>
        <div class="floating window"
            style="position: absolute; width: 16rem; height: 16rem; top: 2rem; left: calc(100% + 1rem);">
            <div class="content">
                <a href="mailto:mrhenribraga@gmail.com">Open for hire</a>!
            </div>
        </div>
        <nav>
            <style>
                nav>ul>li:nth-child({{ nav_index}}) a {
                    color: var(--color-primary-fg);
                }
            </style>
            <div class="options">
                <button class="menu-toggle"
                    onclick="document.querySelector('#menu').classList.toggle('mobile-hidden')"></button>
                <button class="theme-switcher"
                    onclick="document.body.classList.toggle('light-mode'); document.body.classList.toggle('dark-mode')"></button>
            </div>
            <ul id="menu" class="mobile-hidden">
                <li><a href="/">Home</a></li>
                <li><a href="/software">Tools & Software</a></li>
                <li><a href="/videogames">Games</a></li>
                <li><a href="/art">Art</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <p>
            {{{content}}}
        </p>
    </main>
    <footer>
        <span>Made with <em>HTML</em>.</span>
    </footer>
</body>

</html>